body {
	background-color: black;
}

/* In App Navigation */ 
.nav {
	display: flex;
}

.nav img {
	padding: 10px;
	padding-bottom: 20px;
}

.choose {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
}

.choose p {
	color: white;
	margin-left: 14px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.choose select {
height: 40px;
outline: none;
width: 100%;
border-radius: 10px;
padding-left: 10px;
font-family: 'Raleway', sans-serif;
color: #A7A7A7;
font-size: 13px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
background-position: calc(100% - 20px) calc(1.4em + .5px), calc(100% - 15px) calc(1.4em + .5px), calc(100% - 2.9em) .9em;
background-size: 5px 5px, 5px 5px, 1px 1.5em;
background-repeat: no-repeat;
}

.article {
	position: relative;
	width: 100%;
	height: 25rem;
	border: .1rem solid white;
}	

.article p { 
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
 }


@media screen and (min-width: 600px) {

header {
	padding-bottom: 1rem;
}

header img {
	float: left;
	height: 4rem;
	width: 30%;
	padding-left: 10;
}

header p {
	padding-top: 1rem;
	padding-right: 12rem;
	color: white;
	text-align: center;
	font-size: 1rem;
	font-family: 'Open Sans Light';
	font-style: lighter;
}

select {
	margin-left: .75rem; 
}


div.article {
	width: 50%;
	height: 25rem;
	border: .1rem solid white;
}

}

@media screen and (min-width: 1000px) {


header {
	padding-bottom: 1rem;
}

header img {
	float: left;
	height: 4rem;
	width: 8%;
}

header p {
	padding-top: 1rem;
	width: 26%;
	color: white;
	text-align: center;
	font-size: 1rem;
	font-family: 'Open Sans Light';
	font-style: lighter;
}

select {
	margin-left: .75rem; 
}

.display {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
div.article {
	width: 24%;
	margin: .5%;
	height: 25rem;
	border: 2px solid white;
}



}