body {
	background-color: black;
}

header img {
	height: 9rem;
	width: 50%;
	padding-left: 5.5rem;
	padding-top: 1rem;
}

header p {
	color: white;
	text-align: center;
	font-size: 1.2rem;
	font-family: 'Open Sans Light';
	font-style: lighter;
}

select {
	margin-left: 8.8rem;
	margin-bottom: 2rem;
}

.article {
	position: relative;
	width: 100%;
	height: 25rem;
	border: .1rem solid white;
}	

.article p { 
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
 }


@media screen and (min-width: 600px) {

header {
	padding-bottom: 1rem;
}

header img {
	float: left;
	height: 4rem;
	width: 30%;
	padding-left: 10;
}

header p {
	padding-top: 1rem;
	padding-right: 12rem;
	color: white;
	text-align: center;
	font-size: 1rem;
	font-family: 'Open Sans Light';
	font-style: lighter;
}

select {
	margin-left: .75rem; 
}


div.article {
	width: 50%;
	height: 25rem;
	border: .1rem solid white;
}

}

@media screen and (min-width: 1000px) {


header {
	padding-bottom: 1rem;
}

header img {
	float: left;
	height: 4rem;
	width: 8%;
}

header p {
	padding-top: 1rem;
	width: 26%;
	color: white;
	text-align: center;
	font-size: 1rem;
	font-family: 'Open Sans Light';
	font-style: lighter;
}

select {
	margin-left: .75rem; 
}

.display {
	display: flex;
	flex-wrap: wrap;
}
div.article {
	width: 25%;
	height: 25rem;
	border: .1rem solid white;
}



}